  /*device responsiveness. credits: https://css-tricks.com/snippets/css/media-queries-for-standard-devices/*/

  /* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
  /* Portrait and Landscape */
  @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
      .boxed {
          padding: 3em;
      }

      .home .single .form-control {
          min-width: 50px;

          transition: 0.5s;
      }

      .home .single .form-control:focus {
          min-width: 50px;
          transition: 0.5s;
      }
  }

  /* ----------- iPhone 6, 6S, 7 and 8 ----------- */
  /* Portrait and Landscape */
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
      .home .single .form-control {
          min-height: 50px;
          background: rgba(255, 255, 255);
          border-color: transparent;
          border-radius: 20px 0 0 20px;
          min-width: 250px;

          transition: 0.5s;
      }

      .home .single .form-control:focus {
          box-shadow: none;
          border-color: #007fe7;
          min-width: 270;
          transition: 0.5s;
      }
  }

  /* ----------- iPad 1, 2, Mini and Air ----------- */
  /* Portrait and Landscape */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
      .home .single .form-control {
          min-height: 50px;
          background: rgba(255, 255, 255);
          border-color: transparent;
          border-radius: 20px 0 0 20px;
          min-width: 350px;

          transition: 0.5s;
      }

      .home .single .form-control:focus {
          box-shadow: none;
          border-color: #007fe7;
          min-width: 400;
          transition: 0.5s;
      }
  }

  /* ----------- iPad Pro 12.9" ----------- */
  /* Portrait and Landscape */
  @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
      .home .single .form-control {
          min-height: 50px;
          background: rgba(255, 255, 255);
          border-color: transparent;
          border-radius: 20px 0 0 20px;
          min-width: 400px;

          transition: 0.5s;
      }

      .home .single .form-control:focus {
          box-shadow: none;
          border-color: #007fe7;
          min-width: 450;
          transition: 0.5s;
      }
  }

  /*import font*/
  @font-face {
      font-family: "Quicksand";
      src: url("./fonts/Quicksand-Regular.ttf") format("truetype");
  }

  /*import the main font from googlefonts*/
  /*  @import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");*/

  /*there is no margin in the page*/
  * {
      margin: 0px;
      padding: 0px;
  }

  body {
      font-family: "Quicksand";

      background: #9498ee;
      /* gradient background matching the background animation*/
      background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
      width: 100%;
      height: 100%;
  }

  /*hide empty card*/
  div:empty {
      display: none;
  }